<div class="jumbotron">
<div class="row">

		<h2>Balance: {{ vm.user.balance }} U$D</h2>

</div>

<div class="row">
		<h3 class="pull-left margin-cero">Operaciones</h3>
		<button class="btn btn-embossed btn-success btn-sm button-with-title pull-left margin-10-horizontal" ng-click="vm.addNew()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
</div>
</div>
<div>
	<div class="table-responsive">
		<p ng-show="!vm.operacionesEnviadas.length">No se registraron operaciones enviadas</p>
		<h2 ng-show="vm.operacionesEnviadas.length > 0">Realizadas</h2>
		<table class="table" ng-show="vm.operacionesEnviadas.length > 0">
			<thead>
				<tr>
					<th>Número de Operación</th>
					<th>Nombre Destinatario</th>
					<th>Fecha</th>
					<th>Importe</th>
					<th>Moneda</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="operacionEnviada in vm.operacionesEnviadas">
					<td>{{ operacionEnviada.id }}</td>
					<td>{{ operacionEnviada.destinatario.nombre }} {{ operacionEnviada.destinatario.apellido }}</td>
					<td>{{ operacionEnviada.fecha | date: "medium"}}</td>
					<td>{{ operacionEnviada.importe }}</td>
					<td>{{ operacionEnviada.moneda.simbolo }} {{ operacionEnviada.moneda.nombre }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<p ng-show="!vm.operacionesEntrantes.length">No se registraron operaciones recibidas</p>
		<h2 ng-show="vm.operacionesEntrantes.length > 0">Recibidas</h2>
		<table class="table" ng-show="vm.operacionesEntrantes.length > 0">
			<thead>
				<tr>
					<th>Número de Operación</th>
					<th>Nombre Remitente</th>
					<th>Fecha</th>
					<th>Importe</th>
					<th>Moneda</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="operacion in vm.operacionesEntrantes">
					<td>{{ operacion.id }}</td>
					<td>{{ operacion.remitente.nombre }} {{ operacion.remitente.apellido }}</td>
					<td>{{ operacion.fecha | date: "medium"}}</td>
					<td>{{ operacion.importe }}</td>
					<td>{{ operacion.moneda.simbolo }} {{ operacion.moneda.nombre }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
